{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "src": "./src",
                    "helper": "./src/helpers"
                }
            }
        ]
    ]
}